<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Li4Blogs-Signup</title>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <%- include("./partials/navbar.ejs")%>
    <h1 class="text-center" style="font-family: Roboto;">Signup</h1>
    <div class="container mt-4" >
        <form action="#" method="post"  >
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control border border-black" id="email" aria-describedby="email" name="email">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control border border-black" id="password" name="password">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">New Password</label>
                <input type="password" class="form-control border border-black" id="newpassword" name="newpassword">
              </div>
            <button type="submit" class="btn btn-success">Submit</button>
            <a href="/user/<%= user._id %>" class="btn btn-warning" >Cancel</a>
          </form>
    </div>
    <div class="container mt-1">
      <% if (locals.error) { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert" id="errorArea">
          <strong><%= locals.error %> !!</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% } %>
    </div>
    <%- include("./partials/scripts.ejs") %>
    <script>
        const errorArea = document.getElementById("errorArea");
        setTimeout((
        )=>{ errorArea.style.display="none";} , 2000)
    </script>
</body>

</html>